<%- include('partials/profileheader') -%>

<main class="container p-5">
    <div class="row justify-content-center">
      <!-- user info START -->
      <!-- <div class="col-lg-3"></div> -->
      <div class="col-lg-6 mt-auto"> <!-- took away border-bottom bc looks ugly -->
        <!-- took away border-bottom bc looks ugly -->
        <!-- <p class="text-info">*Profile Image here + ability to upload* click to update and upload</p> -->
        <!-- <form action=""></form>I will need aome form for this. -->
        <p><strong>User Name</strong>: <%= user.userName %></p>
        <p><strong>Email</strong>: <%= user.email %></p>
      </div>
      <div class="col-lg-6"></div>
      <!-- user info END -->
      <!-- Add a question START -->
      <!-- <div class="col-lg-3"></div> -->
      <div class="col-lg-6">
        <div class="card text-bg-light shadow">
            <div class="card-body">
                <div class="">
                    <h2 class="text-center">Add a question</h2>
                    <form action="/post/createPost" enctype="multipart/form-data" method="POST">
                        <div class="mb-3">
                            <label for="question" class="form-label">Question title:</label>
                            <input type="text" class="form-control" id="question" name="question">
                        </div>
                        <div class="mb-3">
                            <label for="description" class="form-label">go into detail about your question here:</label>
                            <textarea name="description" id="description"  class="form-control"></textarea>
                        </div>
                        <div class="mb-3">
                            <label for="imgUpload" class="form-label">Image: (not required)</label>
                            <input type="file" class="form-control" id="imageUpload" name="file">
                        </div>
                        <div class="mb-3">
                            <label for="" class="form-label">Tag:</label>
                            <textarea class="form-control" id="tag" name="tag" rows="1" placeholder="the Subject of your question"></textarea>
                        </div>
                        <button  type="submit" class="btn btn-danger position-relative top-0" value="Upload">Submit</button>
                    </form>
                </div>
            </div>
        </div>
      </div>
      <!-- <div class="col-lg-3"></div> -->
      <div class="col-lg-6">
        <% if(posts.length < 1){%>
          <h3>You have not added a Question</h3>
        <%}else{%>
        <ul class="row list-unstyled ">
            <% for(var i=0; i<posts.length; i++) {%>
              <li class=" justify-content-between mt-2 border text-bg-light">
                <a href="/post/<%= posts[i]._id%>">
                  <!-- <img class="img-fluid" src="<%= posts[i].image%>"> -->
                  <h3 class="p-3"><%= posts[i].question%></h3>
                </a>
                <span class="text-muted d-flex justify-content-end">Asked on <%=posts[i].createdAt.toDateString()%> | <small class="text-danger"><%=posts[i].likes%></small><small class="fa fa-heart text-danger"></small></span>
              </li>
            <% } %>
            </ul>
          <% } %> 
      </div>
      

    </div>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/ckeditor/4.19.1/ckeditor.js" integrity="sha512-Ooi9IbjM2SIDjQ02ENbPFuuORT8F8Rc+rowcYfLneDwKRxw1+gVVj5tciVmV/APnA/Ys+qy1MbNKK3k2EaAHcw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
       
        CKEDITOR.config.enterMode = CKEDITOR.ENTER_BR;
        CKEDITOR.replace('description', {
            plugins:'wysiwygarea, toolbar, basicstyles, link'
        })
        
    </script>
<%- include('partials/footer') -%>